@page "/search-operator"

@inject IStringLocalizer<App> _localizer
@inject NavigationManager _navigationManager
@attribute [Authorize(Roles = "Operator")]

<nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-no-gutter mb-3 m-md-3">
            <li class="breadcrumb-item active" aria-current="page">@_localizer["SearchOperator"]</li>
        </ol>
  </nav>
   <NavLink class="btn btn-secondary m-3" href="/operator-home">&nbsp;@_localizer["Add"]&nbsp;</NavLink>
   
    <div class="card-body px-4">
        <!-- Card Details -->
         
        <div class="row">
            
          <div class="col-sm-4 mb-2 mb-sm-0">           
          <EditForm Model="@personalSearch" OnValidSubmit="HandleValidSubmit" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />    
         <div class="row">
               @* <div class="ml-lg-3 m-3">
                    <button type="button" class="btn btn-xs btn-soft-secondary mr-1" @onclick="MoveTo">&nbsp;@_localizer["Add"]&nbsp;</button>                   
                </div>*@
               @*  <div class="ml-lg-3 m-3">
                    <button type="button" class="btn btn-xs btn-soft-secondary mr-1" @onclick="MoveToPage">&nbsp;@_localizer["Move page"]&nbsp;</button>                   
                </div>*@
            </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="personalSearch.LastName" placeholder="@_localizer["LastName"]" aria-label="Last Name">
                 </div>
                </div>            
               </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="personalSearch.FirstName" placeholder="@_localizer["FirstName"]" aria-label="First Name"  >
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill" >
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text"  class="form-control" @bind-value="personalSearch.BirthDay" placeholder="@_localizer["DateOfBirth"]" >

                  </div>
                </div>             
               </div>
  
                <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="personalSearch.IdentityNumber" placeholder="@_localizer["IndividualPersonalNumber"]" >
                  </div>
                </div>             
             </div>                        
            <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-soft-secondary mr-1">&nbsp;@_localizer["Search"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-primary" @onclick="ResetSearch">&nbsp;@_localizer["Reset"]&nbsp;</NavLink>
                </div>
            </div>
        </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
             <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                       <th scope="col">Прізвище</th>
                        <th scope="col">Ім'я</th>
                       <th scope="col">По батькові</th>
                       <th scope="col">Рік народження</th>
                        <th scope="col">ІПН</th> 
                        <th scope="col">Дія</th> 
                    </tr>
                  </thead>
                  <tbody>
                     @foreach(var item in getPersonalShow)
                        {
                             int index = @getPersonalShow.IndexOf(item)+1;
                          <tr>
                             <td><a href="#">@index</a></td>                            
                             <td>@item.LastName</td>   
                             <td>@item.FirstName</td>
                             <td>@item.FatherName</td> 
                             <td>@item.DateOfBirth.ToString("d")</td>
                             <td>@item.IndividualPersonalNumber</td>                            
                            <td >
                                 <img @onclick="(() => Edit(item.Id))"  src="./images/edit.png" /> 

                                 
                           </td>  
                          </tr>
                        }
                                      
            </tbody>
          </table>          
          </div>
        </div>
        <!-- End Card Details -->
      </div>    

@code {
    PersonalDataDto modelPerson = new PersonalDataDto();
    PersonalDataSearchDto personalSearch = new PersonalDataSearchDto();
    IEnumerable<PersonalDataSearchDto> getPersonalSearch = new List<PersonalDataSearchDto>();
    List<PersonalDataDto> getPersonalShow = new List<PersonalDataDto>();

    protected override void OnInitialized()
    {
        modelPerson.DateOfBirth = DateTime.Now;
    }

    public void ResetSearch()
    {
        personalSearch = new PersonalDataSearchDto();
        getPersonalShow = new List<PersonalDataDto>();      
         
        this.StateHasChanged();
    }

    private void Collaps()
    {       
       
    }

    private void HandleValidSubmit()
    {
         getPersonalShow = new List<PersonalDataDto>();    
         getPersonalSearch =  SearchAdapter.GetPersonalSearch(personalSearch);

        foreach(var item in getPersonalSearch)
        {
            modelPerson = PersonalDataAdapter.GetPersonalDataId(item.Id);           
            getPersonalShow.Add(modelPerson);
        }
    }

     public void Edit(int id)
    {
        _navigationManager.NavigateTo("/edit-personal-data/" + id);       

    }
}
