@page "/vehicle-home"
@layout VehicleLayout
@inject IStringLocalizer<App> _localizer
@inject NavigationManager _navigationManager
@attribute [Authorize(Roles = "Vehicle")]

<nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-no-gutter mb-3 m-md-3">
            <li class="breadcrumb-item active" aria-current="page">Vehicle Home</li>
        </ol>
  </nav>

  <div id="paymentDetails" class="accordion shadow-primary-lg p-3 mb-5 rounded">
       
  <!-- Card -->
  <div class="card">
       <div class="card-body px-4">
        <!-- Card Details -->
         
        <div class="row">
            
          <div class="col-sm-4 mb-2 mb-sm-0">           
          <EditForm Model="@modelVechicle" OnValidSubmit="HandleValidSubmit" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />    
         <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="button" class="btn btn-xs btn-soft-secondary mr-1" @onclick="MoveTo">&nbsp;@_localizer["Add"]&nbsp;</button>                   
                </div>
                 <div class="ml-lg-3 m-3">
                    <button type="button" class="btn btn-xs btn-soft-secondary mr-1" @onclick="MoveToPage">&nbsp;@_localizer["Move page"]&nbsp;</button>                   
                </div>
            </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelVechicle.TypeCar" placeholder="@_localizer["Type Car"]" aria-label="Last Name" aria-describedby="subscribeButton subscribeSrEmail-error" required="" data-msg="Please enter a valid last name." aria-invalid="true">
                 </div>
                </div>            
               </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelVechicle.BrandOfMmachine" placeholder="@_localizer["Brand Of Mmachine"]" aria-label="First Name" aria-describedby="subscribeButton subscribeSrEmail-error" required="" data-msg="Please enter a valid first name." aria-invalid="true">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelVechicle.StateCarNumber" placeholder="@_localizer["State Car of the Number"]" aria-label="First Name" aria-describedby="subscribeButton subscribeSrEmail-error" required="" data-msg="Please enter a valid first name." aria-invalid="true">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="date"  class="form-control" @bind-value="modelVechicle.YearOfGraduation" placeholder="@_localizer["Year of graduation"]" >

                  </div>
                </div>             
               </div>
  
                <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelVechicle.FactoryName" placeholder="@_localizer["Factory Name"]" aria-label="Individual Place Of Residence" aria-describedby="subscribeButton subscribeSrEmail-error" required="" data-msg="Please enter a valid Place Of Residence." aria-invalid="true">
                  </div>
                </div>             
             </div>                        
            <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-soft-secondary mr-1">&nbsp;@_localizer["Search"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-primary" @onclick="ResetSearch">&nbsp;@_localizer["Reset"]&nbsp;</NavLink>
                </div>
            </div>
        </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
             <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                       <th scope="col">Тип</th>
                        <th scope="col">Марка</th>
                       <th scope="col">Реєстраційний №</th>
                       <th scope="col">Рік випуску</th>
                       <th scope="col">Найменування підприємства</th>
                       <th scope="col">Технічний стан</th>                      
                    </tr>
                  </thead>
                  <tbody>
                      @foreach(var item in getAllVehicles)
                       {
                            int index = @getAllVehicles.IndexOf(item)+1;
                      <tr>
                          <NavLink  href="counter"> 
                             <th scope="row">@index</th> 
                         </NavLink>                                           
                          <td>@item.TypeCar</td>
                          <td>@item.BrandOfMmachine</td>
                          <td>@item.StateCarNumber</td>
                          <td>@item.YearOfGraduation.ToString("d")</td>
                          <td>@item.FactoryName</td>  
                          <td>@item.TechnicalCondition</td>                     
                       </tr>       
                      }
                                      
            </tbody>
          </table>          
          </div>
        </div>
        <!-- End Card Details -->
      </div>            
  
  </div>
  <!-- End Card -->
   
</div>




@code {
    private bool Collapsed = true;

    VehicleDto modelVechicle = new VehicleDto();
    List<VehicleDto> getAllVehicles = new List<VehicleDto>();


    protected override void OnInitialized()
    {
        modelVechicle.YearOfGraduation = DateTime.Now;
       // getAllVehicles = VehicleAdapter.GetAllVehicles();
    }

      public void ResetSearch()
    {

    }

    private void Collaps()
    {       
        Collapsed = !Collapsed;
    }

    private void HandleValidSubmit()
    {

    }

    private void MoveTo()
    {
        _navigationManager.NavigateTo("/edit-vehicle");
    }

     private void MoveToPage()
    {
        _navigationManager.NavigateTo("/show-all-vehicles");
    }
}
