@page "/admin-home"
@inject NavigationManager _navigationManager
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<App> _localizer
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]

<div class="alert alert-primary" role="alert" @onclick="Collaps">
    <p class="text-right" style="color:blue;">@_localizer["Admin Home"]
        <i class="fa fa-bar-chart text-left p-2" style="font-size:36px; text-align:left;"></i>      
    </p>
</div>


<!-- Accordion -->
<div id="paymentDetails" class="accordion">
  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingOne">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardOne"
                aria-expanded="false"
                aria-controls="cardOne">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="font-size-1">Облік</span>
                </span>
              </span>
            </span>        
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>    

      </h5>         

    </div>
    <div id="cardOne" class="collapse" aria-labelledby="cardHeadingOne" data-parent="#paymentDetails">
           <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
           <EditForm Model="@personalSearch" OnValidSubmit="HandleValidSubmit" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />
       
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="personalSearch.LastName" placeholder="@_localizer["Last Name"]" aria-label="Last Name"  aria-invalid="true">
                 </div>
                </div>            
               </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="personalSearch.FirstName" placeholder="@_localizer["First Name"]" aria-label="First Name" aria-invalid="true">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="personalSearch.FatherName" placeholder="@_localizer["FatherName"]" aria-label="First Name" aria-invalid="true">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="personalSearch.IdentityNumber" placeholder="@_localizer["Individual Personal Number"]" aria-label="Individual Personal Number"  aria-invalid="true">
                  </div>
                </div>             
               </div>        
                <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="personalSearch.ResidentialAddress" placeholder="@_localizer["Place Of Residence"]" aria-label="Individual Place Of Residence"  aria-invalid="true">
                  </div>
                </div>             
             </div>             
            <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-soft-secondary mr-1">&nbsp;@_localizer["Search"]&nbsp;</button>
                    <button type="button" class="btn btn-xs btn-primary" @onclick="ResetSearchPerson">&nbsp;@_localizer["Reset"]&nbsp;</button>
                </div>
            </div>
        </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                       <th scope="col">В/звання</th>
                        <th scope="col">Прізвище</th>
                       <th scope="col">Ім'я</th>
                       <th scope="col">Побатькові</th>
                       <th scope="col">Дата народження</th>
                       <th scope="col">Населений пункт</th> 
                       <th scope="col">Команда</th>  
                    </tr>
                  </thead>
                  <tbody>              
                   
                        @foreach(var item in getPersonalShow)
                        {
                          <tr>
                             <td>@item.Id</td>
                             <td>@item.Rank</td>
                             <td>@item.LastName</td>   
                             <td>@item.FirstName</td>
                             <td>@item.FatherName</td> 
                             <td>@item.DateOfBirth.ToString("d")</td>
                             <td>@item.VillageName</td>                            
                          @* <td>@item.ResidentialAddress</td>*@
                          </tr>
                        }
                   
                  
               </tbody>
          </table>
          </div>
        </div>
        <!-- End Card Details -->
      </div>     
    </div>
  </div>
  <!-- End Card -->

  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardTwo"
                aria-expanded="false"
                aria-controls="cardTwo">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img6.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Облік техніки на підприємствах</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardTwo" class="collapse" aria-labelledby="cardHeadingTwo" data-parent="#paymentDetails">
          <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
          <EditForm Model="@modelVechicle" OnValidSubmit="HandleValidSubmit" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />       
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelVechicle.TypeCar" placeholder="@_localizer["Type Car"]" aria-label="Last Name" aria-describedby="subscribeButton subscribeSrEmail-error" required="" data-msg="Please enter a valid last name." aria-invalid="true">
                 </div>
                </div>            
               </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelVechicle.BrandOfMmachine" placeholder="@_localizer["Brand Of Mmachine"]" aria-label="First Name" aria-describedby="subscribeButton subscribeSrEmail-error" required="" data-msg="Please enter a valid first name." aria-invalid="true">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelVechicle.StateCarNumber" placeholder="@_localizer["State Car of the Number"]" aria-label="First Name" aria-describedby="subscribeButton subscribeSrEmail-error" required="" data-msg="Please enter a valid first name." aria-invalid="true">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelVechicle.YearOfGraduation" placeholder="@_localizer["Year of graduation"]" aria-label="Individual Personal Number" aria-describedby="subscribeButton subscribeSrEmail-error" required="" data-msg="Please enter a valid Individual Personal Number." aria-invalid="true">
                  </div>
                </div>             
               </div>
  
                <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelVechicle.FactoryName" placeholder="@_localizer["Factory Name"]" aria-label="Individual Place Of Residence" aria-describedby="subscribeButton subscribeSrEmail-error" required="" data-msg="Please enter a valid Place Of Residence." aria-invalid="true">
                  </div>
                </div>             
             </div>                        
            <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-soft-secondary mr-1">&nbsp;@_localizer["Search"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-primary" @onclick="ResetSearch">&nbsp;@_localizer["Reset"]&nbsp;</NavLink>
                </div>
            </div>
        </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
             <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                       <th scope="col">Тип</th>
                        <th scope="col">Марка</th>
                       <th scope="col">Реєстраційний №</th>
                       <th scope="col">Рік випуску</th>
                       <th scope="col">Найменування підприємства</th>
                       <th scope="col">Технічний стан</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                          <NavLink  href="counter"> 
                          <th scope="row">1</th> 
                      </NavLink>                                           
                      <td>Бус</td>
                      <td>Mercedess</td>
                      <td>321-234DC</td>
                      <td>2010</td>
                      <td>Галичина</td>  
                      <td>Справний</td>                     
                   </tr>                   
            </tbody>
          </table>          
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->



  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingThree">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardThree"
                aria-expanded="false"
                aria-controls="cardThree">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img7.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Начальник моб підготовки</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="text-danger font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardThree" class="collapse" aria-labelledby="cardHeadingThree" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
           <EditForm Model="@modelMobOfficer" OnValidSubmit="HandleValidSubmit" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />
       
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelMobOfficer.NumberTeam" placeholder="@_localizer["№ Teams"]" aria-label="Last Name"  aria-invalid="true">
                 </div>
                </div>            
               </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelMobOfficer.MilitaryAccountingSpecialty" placeholder="@_localizer["Military Accounting Specialty"]" aria-label="First Name"  aria-invalid="true">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelMobOfficer.Position" placeholder="@_localizer["Position"]" aria-label="First Name"  aria-invalid="true">
                 </div>
                </div>             
              </div>                
                         
            <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-soft-secondary mr-1">&nbsp;@_localizer["Search"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-primary" @onclick="ResetSearch">&nbsp;@_localizer["Reset"]&nbsp;</NavLink>
                </div>
            </div>
        </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
             <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                       <th scope="col">№ Команди</th>
                        <th scope="col">ВОС</th>
                        <th scope="col">Посада</th>  
                        <th scope="col">В/звання</th> 
                        <th scope="col">Прізвище Ім'я Побатькові</th> 
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                          <NavLink  href="counter"> 
                          <th scope="row">1</th> 
                      </NavLink>                                           
                      <td>А0284</td>
                      <td>700 232</td>
                      <td>Командир відділення</td>   
                      <td>сержант</td>   
                      <td>Дмитренко Іван Петрович</td>   
                   </tr>                   
            </tbody>
          </table>          
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->    
</div>

@code {
    private bool Collapsed = true;

    PersonalDataDto modelPerson = new PersonalDataDto();
    VehicleDto modelVechicle = new VehicleDto();
    MobOfficerDto modelMobOfficer = new MobOfficerDto();
    StatusDto statusModel = new StatusDto();
    AllAddressDto allAddress = new AllAddressDto();
    VillageDto villageDto = new VillageDto();

    PersonalDataSearchDto personalSearch = new PersonalDataSearchDto();
    IEnumerable<PersonalDataSearchDto> getPersonalSearch = new List<PersonalDataSearchDto>();
    List<PersonalDataDto> getPersonalShow = new List<PersonalDataDto>();

    protected override void OnInitialized()
    {
    }

    private void Collaps()
    {       
        Collapsed = !Collapsed;
    }

    private void HandleValidSubmit()
    {
        getPersonalSearch =  PersonalDataAdapter.GetPersonalSearch(personalSearch);

        foreach(var item in getPersonalSearch)
        {
            modelPerson = PersonalDataAdapter.GetPersonalDataId(item.Id);
            allAddress = RegionAdapter.GetVillageName(item.Id);  
            villageDto = RegionAdapter.GetVillageId(allAddress.Id);
            statusModel = StatusAdapter.GetAllStatus().Where(q => q.Id == modelPerson.StatusId).FirstOrDefault();
            modelPerson.VillageName = villageDto.Name;
            if(statusModel != null)
            {
                modelPerson.Rank = statusModel.Name;
            }
            else
            {
                modelPerson.Rank = "Не служив";
            }

            getPersonalShow.Add(modelPerson);
        }
        
        //statusModel = StatusAdapter.GetAllStatus().Where(a => a.Id == modelPerson.StatusId).FirstOrDefault();
        //modelPerson.Rank = statusModel.Name;
    }

    public void ResetSearch()
    {
              
    }

    private void ResetSearchPerson()
    {        
         personalSearch = new PersonalDataSearchDto();
         getPersonalShow = new List<PersonalDataDto>();      
         
         this.StateHasChanged();
    }

    public enum Filter
    {
        GetAll,
        Officers,
        Soldiers
    }
   
    
}
