@page "/education"
@page "/education/{Id:int}"
@inject IStringLocalizer<App> _localizer
@inject NavigationManager _navigationManager

  <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-no-gutter mb-3 m-md-3">
            <li class="breadcrumb-item"><a href="/search-operator">@_localizer["SearchOperator"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@_localizer["Education"]</li>
        </ol>
    </nav>

<!-- Accordion -->
<div id="paymentDetails" class="accordion">
  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingOne">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardOne"
                aria-expanded="false"
                aria-controls="cardOne">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="font-size-1">Додати шкільну освіту</span>
                </span>
              </span>
            </span>        
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>    

      </h5>         

    </div>
    <div id="cardOne" class="collapse" aria-labelledby="cardHeadingOne" data-parent="#paymentDetails">
           <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-8 mb-2 mb-sm-0">           
           <EditForm Model="@modelSchool" OnValidSubmit="HandleValidSubmitSchool" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />
       
               <div class="row d-flex">
                   <div class="col-lg-10 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelSchool.Start" placeholder="@_localizer["Рік початку"]" aria-label="Last Name"  aria-invalid="true">
                 </div>
                </div>            
               </div>
               <div class="row d-flex">
                   <div class="col-lg-10 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelSchool.End" placeholder="@_localizer["Рік закінчення"]" aria-label="First Name" aria-invalid="true">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-10 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelSchool.StatusSchoolCertificate" placeholder="@_localizer["Рівень"]" aria-label="First Name" aria-invalid="true">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-10 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelSchool.NumberOfClasses" placeholder="@_localizer["Кількість класів"]" aria-label="Individual Personal Number"  aria-invalid="true">
                  </div>
                </div>             
               </div>        
                <div class="row d-flex">
                   <div class="col-lg-10 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelSchool.NameSchool" placeholder="@_localizer["Назва школи"]" aria-label="Individual Place Of Residence"  aria-invalid="true">
                  </div>
                </div>             
             </div> 
               <div class="row d-flex">
                   <div class="col-lg-10 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelSchool.SeriaSchoolCertificate" placeholder="@_localizer["Серія атестату"]" aria-label="Individual Place Of Residence"  aria-invalid="true">
                  </div>
                </div>             
             </div> 
               <div class="row d-flex">
                   <div class="col-lg-10 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelSchool.NumberSchoolCertificate" placeholder="@_localizer["Номер атестату"]" aria-label="Individual Place Of Residence"  aria-invalid="true">
                  </div>
                </div>             
             </div> 
            <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-soft-secondary mr-1">&nbsp;@_localizer["Add"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-primary" @onclick="ResetSchool">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
        </EditForm>
          </div>
          <div class="table-responsive-md u-datatable col-sm-12 shadow-primary-lg p-3 mb-5 rounded">
              <table class="js-datatable table table-borderless u-datatable__striped u-datatable__content">
                  <thead>
                    <tr>                     
                       <th calss="text-center">Рік початку</th>
                        <th calss="text-center">Рік закінчення</th>
                       <th calss="text-center">Рівень</th>   
                        <th calss="text-center">К-сть класів</th> 
                       <th calss="text-center">Найменування навчального закладу</th>
                       <th calss="text-center">Серія атестату</th> 
                       <th calss="text-center">Номер атестату</th> 
                        
                        <th calss="text-center">Дія</th>  
                    </tr>
                  </thead>                             
                                              
                      <tbody> 
                               
                       <tr>          
                            @if(showSchool.Id>0)
                                  {
                                    <td calss="text-center">@showSchool.Start</td> 
                                    <td calss="text-center">@showSchool.End</td> 
                                    <td calss="text-center">@showSchool.StatusSchoolCertificate</td> 
                                    <td calss="text-center">@showSchool.NumberOfClasses</td> 
                                    <td calss="text-center">@showSchool.NameSchool</td> 
                                    <td calss="text-center">@showSchool.SeriaSchoolCertificate</td> 
                                    <td calss="text-center">@showSchool.NumberSchoolCertificate</td> 
                                    <td>
                                     <button class="btn btn-sm btn btn-outline-info"@onclick="(() => EditSchool(showSchool.Id))">Edit</button>
                                      <button class=" btn btn-sm btn btn-outline-danger" @onclick="(() => DeleteSchool(showSchool.Id))" >Delete</button>
                                    </td>
                                  }                                                                                                           
                       </tr>                 
                              
                                                         
                      </tbody>      
                                   
            
          </table>
          </div>
        </div>
        <!-- End Card Details -->
      </div>     
    </div>
  </div>
  <!-- End Card -->

  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardTwo"
                aria-expanded="false"
                aria-controls="cardTwo">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img6.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Додати професійно-технічну/середню спеціальну освіту</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardTwo" class="collapse" aria-labelledby="cardHeadingTwo" data-parent="#paymentDetails">
          <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
          <EditForm Model="@modelProfessionalTechnicalSchool" OnValidSubmit="HandleValidSubmitProfessionalTechnicalSchool" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />       
                <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalSchool.Start" placeholder="@_localizer["Рік початку"]" aria-label="Last Name"  aria-invalid="true">
                 </div>
                </div>            
               </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalSchool.End" placeholder="@_localizer["Рік закінчення"]" aria-label="First Name" aria-invalid="true">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalSchool.StatusProfessionalTechnicalSchoolCertificate" placeholder="@_localizer["Рівень"]" aria-label="First Name" aria-invalid="true">
                 </div>
                </div>             
              </div>
                   
                <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalSchool.NameProfessionalTechnicalSchool" placeholder="@_localizer["Назва школи"]" aria-label="Individual Place Of Residence"  aria-invalid="true">
                  </div>
                </div>             
             </div> 
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalSchool.SeriaProfessionalTechnicalSchoolCertificate" placeholder="@_localizer["Серія диплому"]" aria-label="Individual Place Of Residence"  aria-invalid="true">
                  </div>
                </div>             
             </div> 
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalSchool.NumberProfessionalTechnicalSchoolCertificate" placeholder="@_localizer["Номер диплому"]" aria-label="Individual Place Of Residence"  aria-invalid="true">
                  </div>
                </div>             
             </div> 

               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalSchool.SpecialtyProfessionalTechnicalSchool" placeholder="@_localizer["Спеціальність"]" aria-label="Individual Place Of Residence"  aria-invalid="true">
                  </div>
                </div>             
             </div> 
            <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-soft-secondary mr-1">&nbsp;@_localizer["Add"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-primary" @onclick="ResetProfessionalTechnicalSchool">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
        </EditForm>
          </div>
          <div class="table-responsive-md u-datatable col-sm-12 shadow-primary-lg p-3 mb-5 rounded">
              <table class="js-datatable table table-borderless u-datatable__striped u-datatable__content">
                  <thead>
                    <tr>                     
                       <th calss="text-center">Рік початку</th>
                        <th calss="text-center">Рік закінчення</th>
                       <th calss="text-center">Рівень</th> 
                        <th calss="text-center">Найменування навчального закладу</th>
                       <th calss="text-center">Серія диплому</th> 
                       <th calss="text-center">Номер диплому</th> 
                        <th calss="text-center">Спеціальність</th> 
                        <th calss="text-center">Дія</th>  
                    </tr>
                  </thead>                          
                         
                    
                      <tbody>                                           
                        <tr>  
                            @if(!string.IsNullOrEmpty(showEducationProfessionalTechnicalSchool.NameProfessionalTechnicalSchool))
                              {                                          
                              <td calss="text-center">@showEducationProfessionalTechnicalSchool.Start</td> 
                              <td calss="text-center">@showEducationProfessionalTechnicalSchool.End</td> 
                              <td calss="text-center">@showEducationProfessionalTechnicalSchool.StatusProfessionalTechnicalSchoolCertificate</td> 
                              <td calss="text-center">@showEducationProfessionalTechnicalSchool.NameProfessionalTechnicalSchool</td> 
                              <td calss="text-center">@showEducationProfessionalTechnicalSchool.SeriaProfessionalTechnicalSchoolCertificate</td> 
                              <td calss="text-center">@showEducationProfessionalTechnicalSchool.NumberProfessionalTechnicalSchoolCertificate</td> 
                              <td calss="text-center">@showEducationProfessionalTechnicalSchool.SpecialtyProfessionalTechnicalSchool</td> 
                              <td>
                                   <button class="btn btn-sm btn btn-outline-info"@onclick="(() =>EditProfessionalTechnicalSchool(showEducationProfessionalTechnicalSchool.Id))">
                                           Edit
                                   </button>
                                    <button class="btn btn-sm btn btn-outline-danger" @onclick="(() => DeleteProfessionalTechnicalSchool(showEducationProfessionalTechnicalSchool.Id))" >Delete</button>
                              </td>
                               }
                                  
                       </tr>                                           
                      </tbody>      
                                   
            
          </table>
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
 </div>
  <!-- End Card -->

   <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingThree">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardThree"
                aria-expanded="false"
                aria-controls="cardThree">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img7.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Додати вищу освіту</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="text-danger font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardThree" class="collapse" aria-labelledby="cardHeadingThree" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
           <EditForm Model="@modelHigherEducation" OnValidSubmit="HandleValidSubmitHigherEducation" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />
       
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducation.Start" placeholder="@_localizer["Рік початку"]" >
                 </div>
                </div>            
               </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducation.End" placeholder="@_localizer["Рік закінчення"]">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducation.StatusHigherEducationlCertificate" placeholder="@_localizer["Рівень"]">
                 </div>
                </div>             
              </div>
                   
                <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducation.NameHigherEducation" placeholder="@_localizer["Назва навчального закладу"]" >
                  </div>
                </div>             
             </div> 
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducation.SeriaHigherEducationCertificate" placeholder="@_localizer["Серія диплому"]" >
                  </div>
                </div>             
             </div> 
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducation.NumberHigherEducationCertificate" placeholder="@_localizer["Номер диплому"]" >
                  </div>
                </div>             
             </div> 
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducation.SpecialtyHigherEducation" placeholder="@_localizer["Cпеціальність"]" >
                  </div>
                </div>             
             </div> 
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducation.ТameOfTheMilitaryDepartment" placeholder="@_localizer["Військова кафедра"]" >
                  </div>
                </div>             
             </div> 

               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducation.MilitarySpecialty" placeholder="@_localizer["Військова спеціальність"]"  >
                  </div>
                </div>             
             </div> 
                         
            <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-soft-secondary mr-1">&nbsp;@_localizer["Add"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-primary" @onclick="ResetHigherEducation">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
        </EditForm>
          </div>
          <div class="table-responsive-md u-datatable col-sm-12 shadow-primary-lg p-3 mb-5 rounded">
             <table class="js-datatable table table-borderless u-datatable__striped u-datatable__content">
                  <thead>
                    <tr>                     
                       <th scope="col">Початок</th>
                        <th scope="col">Закінчення</th>
                       <th scope="col">Рівень</th>                      
                       <th scope="col">Назва закладу</th>
                       <th scope="col">Серія диплома</th> 
                       <th scope="col">Номер диплома</th> 
                        <th scope="col">Спеціальність</th>  
                        <th scope="col">Військова кафедра</th> 
                        <th scope="col">Вйськова спеціальність</th> 
                        <th scope="col">Дія</th>  
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      @if(!string.IsNullOrEmpty(showHigherEducation.NameHigherEducation))
                              {                                        
                              <td calss="text-center">@showHigherEducation.Start</td> 
                              <td calss="text-center">@showHigherEducation.End</td> 
                              <td calss="text-center">@showHigherEducation.StatusHigherEducationlCertificate</td> 
                              <td calss="text-center">@showHigherEducation.NameHigherEducation</td> 
                              <td calss="text-center">@showHigherEducation.SeriaHigherEducationCertificate</td> 
                              <td calss="text-center">@showHigherEducation.NumberHigherEducationCertificate</td> 
                              <td calss="text-center">@showHigherEducation.SpecialtyHigherEducation</td> 
                              <td calss="text-center">@showHigherEducation.ТameOfTheMilitaryDepartment</td> 
                              <td calss="text-center">@showHigherEducation.MilitarySpecialty</td> 
                              <td>
                                   <button class="btn btn-sm btn btn-outline-info"@onclick="(() => EditHigherEducation(showHigherEducation.Id))">
                                           Edit
                                   </button>
                                    <button class="btn btn-sm btn btn-outline-danger" @onclick="(() => DeleteHigherEducation(showHigherEducation.Id))" >Delete</button>
                              </td>
                               }
                   </tr>                   
            </tbody>
          </table>          
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->   


    <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingFour">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardFour"
                aria-expanded="false"
                aria-controls="cardFour">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img28.png" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Додати військово-технічну спеціальність</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="text-danger font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardFour" class="collapse" aria-labelledby="cardHeadingFour" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
           <EditForm Model="@modelProfessionalTechnicalMilitarySchool" OnValidSubmit="HandleValidSubmitEducationProfessionalTechnicalMilitarySchool" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />
       
            <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalMilitarySchool.RVCReferralNumber" placeholder="@_localizer["Номер направлення РВК"]" aria-label="First Name" aria-invalid="true">
                 </div>
                </div>             
              </div>

                 <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalMilitarySchool.RVCReferralDate" placeholder="@_localizer["Дата направлення РВК"]" aria-label="First Name" aria-invalid="true">
                 </div>
                </div>             
              </div>

               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalMilitarySchool.NameProfessionalTechnicalMilitarySchool" placeholder="@_localizer["Назва навчального закладу"]" aria-label="Individual Place Of Residence"  aria-invalid="true">
                  </div>
                </div>             
             </div> 

               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalMilitarySchool.Start" placeholder="@_localizer["Рік початку"]" aria-label="Last Name"  aria-invalid="true">
                 </div>
                </div>            
               </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalMilitarySchool.End" placeholder="@_localizer["Рік закінчення"]" aria-label="First Name" aria-invalid="true">
                 </div>
                </div>             
              </div>

               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelProfessionalTechnicalMilitarySchool.SpecialtyProfessionalTechnicalMilitarySchool" placeholder="@_localizer["Спеціальність"]" aria-label="Individual Place Of Residence"  aria-invalid="true">
                  </div>
                </div>             
             </div> 
                         
            <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-soft-secondary mr-1">&nbsp;@_localizer["Add"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-primary" @onclick="ResetProfessionalTechnicalMilitarySchool">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
        </EditForm>
          </div>
          <div class="table-responsive-md u-datatable col-sm-12 shadow-primary-lg p-3 mb-5 rounded">
             <table class="js-datatable table table-borderless u-datatable__striped u-datatable__content">
                  <thead>
                    <tr>                         
                          <th scope="col">№ Направлення РВК</th>  
                          <th scope="col">Дата Направлення РВК</th>  
                          <th scope="col">Назва навчального закладу</th>
                          <th scope="col">Рік початку</th>
                          <th scope="col">Рік закінчення</th>                                          
                          <th scope="col">Спеціальність</th>                        
                          <th scope="col">Дія</th>  
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      @if(!string.IsNullOrEmpty(showProfessionalTechnicalMilitarySchool.NameProfessionalTechnicalMilitarySchool))
                      {                             
                              <td calss="text-center">@showProfessionalTechnicalMilitarySchool.RVCReferralNumber</td> 
                              <td calss="text-center">@showProfessionalTechnicalMilitarySchool.RVCReferralDate</td> 
                              <td calss="text-center">@showProfessionalTechnicalMilitarySchool.NameProfessionalTechnicalMilitarySchool</td> 
                              <td calss="text-center">@showProfessionalTechnicalMilitarySchool.Start</td> 
                              <td calss="text-center">@showProfessionalTechnicalMilitarySchool.End</td>                                                                                  
                              <td calss="text-center">@showProfessionalTechnicalMilitarySchool.SpecialtyProfessionalTechnicalMilitarySchool</td> 
                              <td>
                                   <button class="btn btn-sm btn btn-outline-info"@onclick="(() => EditProfessionalTechnicalMilitarySchool(showProfessionalTechnicalMilitarySchool.Id))">
                                           Edit
                                   </button>
                                    <button class="btn btn-sm btn btn-outline-danger" @onclick="(() => DeleteEducationProfessionalTechnicalMilitarySchool(showProfessionalTechnicalMilitarySchool.Id))" >Delete</button>
                              </td>
                    }
                   </tr>                   
            </tbody>
          </table>          
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->  


    <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingFive">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardFive"
                aria-expanded="false"
                aria-controls="cardFive">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img31.png" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Додати Військову освіту</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="text-danger font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardFive" class="collapse" aria-labelledby="cardHeadingFive" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
           <EditForm Model="@modelHigherEducationMilitary" OnValidSubmit="HandleValidSubmitHigherMilitaryEducation" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />
       
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducationMilitary.Start" placeholder="@_localizer["Рік початку"]" aria-label="Last Name"  aria-invalid="true">
                 </div>
                </div>            
               </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducationMilitary.End" placeholder="@_localizer["Рік закінчення"]">
                 </div>
                </div>             
              </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducationMilitary.StatusHigherEducationlMilitaryCertificate" placeholder="@_localizer["Рівень"]">
                 </div>
                </div>             
              </div>
                   
                <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducationMilitary.NameHigherEducationMilitary" placeholder="@_localizer["Назва навчального закладу"]">
                  </div>
                </div>             
             </div> 
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducationMilitary.SeriaHigherEducationMilitaryCertificate" placeholder="@_localizer["Серія диплому"]">
                  </div>
                </div>             
             </div> 
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducationMilitary.NumberHigherEducationMilitaryCertificate" placeholder="@_localizer["Номер диплому"]">
                  </div>
                </div>             
             </div> 

               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelHigherEducationMilitary.MilitarySpecialty" placeholder="@_localizer["Військова спеціальність"]">
                  </div>
                </div>             
             </div> 
                         
            <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-soft-secondary mr-1">&nbsp;@_localizer["Add"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-primary" @onclick="ResetHigherMilitaryEducation">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
        </EditForm>
          </div>
          <div class="table-responsive-md u-datatable col-sm-12 shadow-primary-lg p-3 mb-5 rounded">
             <table class="js-datatable table table-borderless u-datatable__striped u-datatable__content">
                  <thead>
                    <tr>                     
                       <th scope="col">Рік початку</th>
                       <th scope="col">Рік закінчення</th>
                       <th scope="col">Рівень</th>                      
                       <th scope="col">Назва навчального закладу</th>
                       <th scope="col">Серія диплома</th> 
                       <th scope="col">Номер диплома</th> 
                        <th scope="col">Військова спеціальність</th>                          
                        <th scope="col">Дія</th>  
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    @if(!string.IsNullOrEmpty(showHigherEducationMilitary.NameHigherEducationMilitary))
                      {                              
                              <td calss="text-center">@showHigherEducationMilitary.Start</td> 
                              <td calss="text-center">@showHigherEducationMilitary.End</td>  
                              <td calss="text-center">@showHigherEducationMilitary.StatusHigherEducationlMilitaryCertificate</td> 
                              <td calss="text-center">@showHigherEducationMilitary.NameHigherEducationMilitary</td> 
                              <td calss="text-center">@showHigherEducationMilitary.SeriaHigherEducationMilitaryCertificate</td>                                                                                                            
                              <td calss="text-center">@showHigherEducationMilitary.NumberHigherEducationMilitaryCertificate</td> 
                              <td calss="text-center">@showHigherEducationMilitary.MilitarySpecialty</td> 
                              <td>
                                   <button class="btn btn-sm btn btn-outline-info"@onclick="(() => EditHigherMilitaryEducation(showHigherEducationMilitary.Id))">
                                           Edit
                                   </button>
                                    <button class="btn btn-sm btn btn-outline-danger" @onclick="(() => DeleteHigherMilitaryEducation(showHigherEducationMilitary.Id))" >Delete</button>
                              </td>
                    }
                   </tr>                   
            </tbody>
          </table>          
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->  

@code {
    [Parameter]
    public int Id { get; set; }

    EducationSchoolDto modelSchool = new EducationSchoolDto();
    EducationSchoolDto showSchool = new  EducationSchoolDto();
    EducationProfessionalTechnicalSchoolDto modelProfessionalTechnicalSchool = new EducationProfessionalTechnicalSchoolDto();
    EducationProfessionalTechnicalSchoolDto showEducationProfessionalTechnicalSchool = new EducationProfessionalTechnicalSchoolDto();
    HigherEducationDto modelHigherEducation = new HigherEducationDto();
    HigherEducationDto showHigherEducation = new HigherEducationDto();
    EducationProfessionalTechnicalMilitarySchoolDto modelProfessionalTechnicalMilitarySchool = new EducationProfessionalTechnicalMilitarySchoolDto();
    EducationProfessionalTechnicalMilitarySchoolDto showProfessionalTechnicalMilitarySchool = new EducationProfessionalTechnicalMilitarySchoolDto();   
    HigherEducationMilitaryDto modelHigherEducationMilitary = new HigherEducationMilitaryDto();
    HigherEducationMilitaryDto showHigherEducationMilitary = new HigherEducationMilitaryDto();
    EducationDataGeneralDto modelGeneral = new EducationDataGeneralDto();
    List<EducationDataGeneralDto> getGeneral = new List<EducationDataGeneralDto>();

    string[] getChooseEducation = { "Школа","ПТУ","Вища","Військово-технічна спеціальність","Військова" };
    string[] getSchool = {"Початкова","Базова","Повна загальна"};
    string[] getStatusEducation = { "1Початкова","Базова","Повна загальна","2Професійно-технічна","Середньо-спеціальна","3Молодший спеціаліст","Бакалавр","Спеціаліст","Магістр","4ТР","CР","ОТР" };
    protected override void OnInitialized()
    {        
        GetAllDataPerson();
    }          

    private void HandleValidSubmitSchool()
    {
        var schoolId = EducationAdapter.SaveEducationSchool(modelSchool);
        string name = "School";
        if(schoolId > 0)
        {
            SaveEducationGeneral(schoolId,name);
        }      

        _navigationManager.NavigateTo("/education/"+ Id,true);
    }

    private void EditSchool(int id)
    {
        modelSchool = EducationAdapter.GetEducationSchoolId(id);

    }

    private void ResetSchool()
    {
        modelSchool = new EducationSchoolDto();
    }

    private void DeleteSchool(int id)
    {
        EducationAdapter.DeleteSchoolId(id);
        EducationAdapter.DeleteEducationDataGeneralSchoolId(id);

        _navigationManager.NavigateTo("/education/"+ Id,true);
    }

    private void HandleValidSubmitProfessionalTechnicalSchool()
    {
        var professionalTechnicalSchoolId = EducationAdapter.SaveEducationProfessionalTechnicalSchool(modelProfessionalTechnicalSchool);
        string name = "ProfessionalTechnicalSchool";
        if(professionalTechnicalSchoolId > 0)
        {
            SaveEducationGeneral(professionalTechnicalSchoolId,name); 
        }

        _navigationManager.NavigateTo("/education/"+ Id,true);
    }

    private void EditProfessionalTechnicalSchool(int id)
    {
        modelProfessionalTechnicalSchool = EducationAdapter.GetEducationProfessionalTechnicalSchoolId(id);
    }

    private void ResetProfessionalTechnicalSchool()
    {
        modelProfessionalTechnicalSchool = new EducationProfessionalTechnicalSchoolDto();
    }

    private void DeleteProfessionalTechnicalSchool(int id)
    {
        EducationAdapter.DeleteEducationProfessionalTechnicalSchoolId(id);
        EducationAdapter.DeleteEducationDataGeneralProfessionalTechnicalSchoolId(id);

        _navigationManager.NavigateTo("/education/"+ Id,true);
    }

    private void HandleValidSubmitHigherEducation()
    {
        var higherEducationId = EducationAdapter.SaveHigherEducation(modelHigherEducation);
        string name = "HigherEducation";
        if(higherEducationId > 0)
        {
            SaveEducationGeneral(higherEducationId,name);
        }

        _navigationManager.NavigateTo("/education/"+ Id,true);
    }

    private void EditHigherEducation(int id)
    {
        modelHigherEducation = EducationAdapter.GetHightEducationId(id);
    }

    private void ResetHigherEducation()
    {
        modelHigherEducation = new HigherEducationDto();
    }

    private void DeleteHigherEducation(int id)
    {
        EducationAdapter.DeleteHightEducationId(id);
        EducationAdapter.DeleteDataGeneralHightEducationId(id);

        _navigationManager.NavigateTo("/education/"+ Id,true);
    }

    private void HandleValidSubmitEducationProfessionalTechnicalMilitarySchool()
    {
        var educationProfessionalTechnicalMilitarySchoolId = EducationAdapter.SaveEducationProfessionalTechnicalMilitarySchool(modelProfessionalTechnicalMilitarySchool);
        string name = "ProfessionalTechnicalMilitary";
        if(educationProfessionalTechnicalMilitarySchoolId > 0)
        {
            SaveEducationGeneral(educationProfessionalTechnicalMilitarySchoolId,name);
        }

        _navigationManager.NavigateTo("/education/"+ Id,true);
    }

    private void EditProfessionalTechnicalMilitarySchool(int id)
    {
        modelProfessionalTechnicalMilitarySchool = EducationAdapter.GetEducationProfessionalTechnicalMilitarySchoolId(id);
    }

    private void ResetProfessionalTechnicalMilitarySchool()
    {
        modelProfessionalTechnicalMilitarySchool = new EducationProfessionalTechnicalMilitarySchoolDto();
    }

    private void DeleteEducationProfessionalTechnicalMilitarySchool(int id)
    {
        EducationAdapter.DeleteProfessionalTechnicalMilitarySchoolId(id);
        EducationAdapter.DeleteDataGeneralProfessionalTechnicalMilitarySchoolId(id);

        _navigationManager.NavigateTo("/education/"+ Id,true);
    }

    private void HandleValidSubmitHigherMilitaryEducation()
    {
        var modelHigherMilitaryEducationId = EducationAdapter.SaveHigherEducationMilitary(modelHigherEducationMilitary);
        string name = "HigherEducationMilitary";
        if(modelHigherMilitaryEducationId > 0)
        {
            SaveEducationGeneral(modelHigherMilitaryEducationId,name);
        }

        _navigationManager.NavigateTo("/education/"+ Id,true);
    }

    private void  EditHigherMilitaryEducation(int id)
    {
        modelHigherEducationMilitary = EducationAdapter.GetHigherEducationMilitaryId(id);
    }

    private void ResetHigherMilitaryEducation()
    {
        modelHigherEducationMilitary = new HigherEducationMilitaryDto();    
    }         

    private void DeleteHigherMilitaryEducation(int id)
    {
        EducationAdapter.DeleteDataGeneralHigherMilitaryId(id);
        EducationAdapter.DeleteHigherEducationMilitaryId(id);

        _navigationManager.NavigateTo("/education/"+ Id,true);
    }

    private void SaveEducationGeneral(int id, string name)
    {
        modelGeneral.PersonId = Id;
        switch (name){
            case "School":
                modelGeneral.SchoolId = id;
                break;
            case "ProfessionalTechnicalSchool":
                modelGeneral.ProfessionalTechnicalSchoolId = id;
                break;
            case "HigherEducation":
                modelGeneral.HigherEducationId = id;
                break;
            case "ProfessionalTechnicalMilitary":
                modelGeneral.ProfessionalTechnicalMilitaryId = id;
                break;
            case "HigherEducationMilitary":
                modelGeneral.HigherEducationlMilitaryId = id;
                break;
        } 

        EducationAdapter.SaveEducationDataGeneral(modelGeneral);
    }
      

    private void GetAllDataPerson()
    {
         getGeneral = EducationAdapter.GetGeneralEducation(Id).ToList();
        var schoolId = getGeneral.Where(a=>a.SchoolId > 0).Select(q => q.SchoolId).LastOrDefault();
        var professionalTechnicalSchoolId = getGeneral.Where(a=>a.ProfessionalTechnicalSchoolId > 0).Select(q => q.ProfessionalTechnicalSchoolId).LastOrDefault();
        var higherEducationId = getGeneral.Where(e => e.HigherEducationId > 0).Select(e => e.HigherEducationId).FirstOrDefault();
        var professionalTechnicalMilitarySchoolId = getGeneral.Where(p => p.ProfessionalTechnicalMilitaryId > 0).Select(p => p.ProfessionalTechnicalMilitaryId).FirstOrDefault();
        var higherEducationMilitaryId = getGeneral.Where(m => m.HigherEducationlMilitaryId > 0).Select(m => m.HigherEducationlMilitaryId).FirstOrDefault();
        showSchool = EducationAdapter.GetEducationSchoolId(schoolId);
        showEducationProfessionalTechnicalSchool = EducationAdapter.GetEducationProfessionalTechnicalSchoolId(professionalTechnicalSchoolId);
        showHigherEducation = EducationAdapter.GetHightEducationId(higherEducationId);
        showProfessionalTechnicalMilitarySchool = EducationAdapter.GetEducationProfessionalTechnicalMilitarySchoolId(professionalTechnicalMilitarySchoolId);
        showHigherEducationMilitary = EducationAdapter.GetHigherEducationMilitaryId(higherEducationMilitaryId);
    }
}
