@page "/filling-with-data"

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<App> _localizer

<div class="alert alert-primary" role="alert" @onclick="Collaps">
    <p class="text-right" style="color:blue;">@_localizer["Super Admin Home"]
        <i class="fa fa-bar-chart text-left p-2" style="font-size:36px; text-align:left;"></i>      
    </p>
</div>


<div id="paymentDetails" class="accordion">

      <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingZero">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardZero"
                aria-expanded="false"
                aria-controls="cardZero">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="font-size-1">Країна</span>
                </span>
              </span>
            </span>        
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>    

      </h5>         

    </div>
    <div id="cardZero" class="collapse" aria-labelledby="cardHeadingZero" data-parent="#paymentDetails">
           <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
           <EditForm Model="@countryModel" OnValidSubmit="HandleValidSubmitCountry"  class="body  p-3 mb-5 rounded ">
             <DataAnnotationsValidator />
       
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="countryModel.Name" placeholder="@_localizer["Add new Country"]" aria-label="Region"  aria-invalid="true">
                 </div>
                </div>            
               </div>
             <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-primary ">&nbsp;@_localizer["Add"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-soft-secondary mr-1" @onclick="ResetSearch">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
         </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
              <table class="table table-responsive-md u-datatable  shadow-primary-lg p-3 mb-5 rounded">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Назва</th>     
                      <th scope="col">Дія</th>   
                    </tr>
                  </thead>
                   
                  @foreach(var item in getAllCountry)
                    {        
                      int index = @getAllCountry.IndexOf(item)+1;
                      <tbody>                                           
                        <tr>          
                              <td scope="row">@index</td> 
                              <td >@item.Name</td>    
                              <td>
                                   <button class="btn btn-sm btn btn-outline-info">
                                            <img @onclick="(() => ShowPopupCountry(item.Id))" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/21/000000/external-edit-interface-kiranshastry-solid-kiranshastry.png" />
                                   </button>
                                    <button class=" btn btn-sm btn btn-outline-danger" @onclick="(() => DeleteCountry(item.Id))" disabled="@DeleteDisabled">Delete</button>
                              </td>
                       </tr>                                           
                      </tbody>      
                    }    
          </table>
          </div>
        </div>
        <!-- End Card Details -->
      </div>     
    </div>
  </div>
  <!-- End Card -->

  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingOne">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardOne"
                aria-expanded="false"
                aria-controls="cardOne">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="font-size-1">Область</span>
                </span>
              </span>
            </span>        
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>    

      </h5>         

    </div>
    <div id="cardOne" class="collapse" aria-labelledby="cardHeadingOne" data-parent="#paymentDetails">
           <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
           <EditForm Model="@fillingWithData" OnValidSubmit="HandleValidSubmitRegion"  class="body  p-3 mb-5 rounded ">
             <DataAnnotationsValidator />
                 <InputSelect  id="department" @bind-Value="countryId" @oninput="OnValueChangedRegion"   class="form-control input-group-pill mb-2">
                   <option value="0">-- Виберіть країну --</option>
                    @foreach (var item in getAllCountry)
                    {                    
                        <option class="input-group-pill mb-2" placeholder="Виберіть країну" value="@item.Id">@item.Name</option>
                    }
                </InputSelect>

               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="fillingWithData.Name" placeholder="@_localizer["Add new Region"]" aria-label="Region"  aria-invalid="true">
                 </div>
                </div>            
               </div>
             <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-primary ">&nbsp;@_localizer["Add"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-soft-secondary mr-1" @onclick="ResetSearch">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
         </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
              <table class="table table-responsive-md u-datatable  shadow-primary-lg p-3 mb-5 rounded">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Назва</th>     
                      <th scope="col">Дія</th>   
                    </tr>
                  </thead>
                   
                  @foreach(var item in getAllRegion)
                    {        
                      int index = @getAllRegion.IndexOf(item)+1;
                      <tbody>                                           
                        <tr>          
                              <td scope="row">@index</td> 
                              <td >@item.Name</td>    
                              <td>
                                   <button class="btn btn-sm btn btn-outline-info">
                                            <img @onclick="(() => ShowPopupRegion(item.Id))" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/21/000000/external-edit-interface-kiranshastry-solid-kiranshastry.png" />
                                   </button>
                                    <button class=" btn btn-sm btn btn-outline-danger" @onclick="(() => DeleteRegion(item.Id))" disabled="@DeleteDisabled">Delete</button>
                              </td>
                       </tr>                                           
                      </tbody>      
                    }    
          </table>
          </div>
        </div>
        <!-- End Card Details -->
      </div>     
    </div>
  </div>
  <!-- End Card -->

  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardTwo"
                aria-expanded="false"
                aria-controls="cardTwo">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img6.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Район</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardTwo" class="collapse" aria-labelledby="cardHeadingTwo" data-parent="#paymentDetails">
          <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
          <EditForm Model="@districtModel" OnValidSubmit="HandleValidSubmitDistrict" class="body  p-3 mb-5 rounded ">
             <DataAnnotationsValidator />           
             <InputSelect  id="department" @bind-Value="regionId" @oninput="OnValueChangedDistrict"   class="form-control input-group-pill mb-2">
               <option value="0">-- Виберіть область --</option>
                @foreach (var item in getAllRegion)
                {                    
                    <option class="input-group-pill mb-2" placeholder="Виберіть район" value="@item.Id">@item.Name</option>
                }
            </InputSelect>

               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="districtModel.Name" placeholder="@_localizer["Add new District"]" aria-label="District"  aria-invalid="true">
                 </div>
                </div>            
               </div>
             <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-primary ">&nbsp;@_localizer["Add"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-soft-secondary mr-1" @onclick="ResetSearch">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
         </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
            <table class="table table-responsive-md u-datatable  shadow-primary-lg p-3 mb-5 rounded">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Назва</th> 
                       <th scope="col">Дія</th> 
                    </tr>
                  </thead>
                   @if(count > 0)
                   {
                     @foreach(var item in getAllDistrict)
                      {
                        int index = @getAllDistrict.IndexOf(item)+1;
                      <tbody>                                           
                        <tr>  
                             <th scope="row">@index</th>                              
                             <td>@item.Name</td>                           
                             <td>
                                   <button class="btn btn-sm btn btn-outline-info">
                                            <img @onclick="(() => ShowPopupDistrict(item.Id))" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/21/000000/external-edit-interface-kiranshastry-solid-kiranshastry.png" />
                                   </button>
                                    <button class=" btn btn-sm btn btn-outline-danger" @onclick="(() => DeleteDistrict(item.Id))" disabled="@DeleteDisabled">Delete</button>
                              </td>                                                                                         
                       </tr>                                           
                      </tbody>      
                     }       
                   }                                 
          </table>
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->



  <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingThree">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardThree"
                aria-expanded="false"
                aria-controls="cardThree">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img7.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">ОТГ</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="text-danger font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardThree" class="collapse" aria-labelledby="cardHeadingThree" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
           <EditForm Model="@otgModel" OnValidSubmit="HandleValidSubmitOtg" class="body  p-3 mb-5 rounded ">
             <DataAnnotationsValidator />
          
             <InputSelect id="department" @bind-Value="otgId" @oninput="OnValueChangedOtg" class="form-control input-group-pill mb-2">
                   <option value="0">-- Виберіть район --</option>
                @foreach (var item in getAllDistrict)
                {
                    <option class="input-group-pill mb-2" value="@item.Id">@item.Name</option>
                }
            </InputSelect>

               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="otgModel.Name" placeholder="@_localizer["Add new Otg"]" aria-label="Otg"  aria-invalid="true">
                 </div>
                </div>            
               </div>
             <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-primary ">&nbsp;@_localizer["Add"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-soft-secondary mr-1" @onclick="ResetSearch">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
         </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
             <table class="table table-responsive-md u-datatable  shadow-primary-lg p-3 mb-5 rounded">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                       <th scope="col">Назва</th>   
                        <th scope="col">Дія</th>
                    </tr>
                  </thead>
                 @foreach(var item in getAllOtg)
                    {
                       int index = @getAllOtg.IndexOf(item)+1;
                      <tbody>                                           
                        <tr>   
                             <th scope="row">@index</th> 
                            <td>@item.Name</td> 
                                <td>
                                   <button class="btn btn-sm btn btn-outline-info">
                                            <img @onclick="(() => ShowPopupOtg(item.Id))" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/21/000000/external-edit-interface-kiranshastry-solid-kiranshastry.png" />
                                   </button>
                                    <button class=" btn btn-sm btn btn-outline-danger" @onclick="(() => DeleteOtg(item.Id))" disabled="@DeleteDisabled">Delete</button>
                              </td>                                                                                     
                       </tr>                                           
                      </tbody>      
                    }      
          </table>          
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->    

   <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingForth">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardForth"
                aria-expanded="false"
                aria-controls="cardForth">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img4.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Село</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="text-danger font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardForth" class="collapse" aria-labelledby="cardHeadingForth" data-parent="#paymentDetails">
      <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
          <EditForm Model="@villageModel" OnValidSubmit="HandleValidSubmitVillage" class="body  p-3 mb-5 rounded ">
             <DataAnnotationsValidator />
          
             <InputSelect id="department" @bind-Value="otgId" @oninput="OnValueChangedVillages" class="form-control input-group-pill mb-2">
                   <option value="0">-- Виберіть ОТГ --</option>
                @foreach (var item in getAllOtg)
                {
                    <option class="input-group-pill mb-2" value="@item.Id">@item.Name</option>
                }
            </InputSelect>

               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="villageModel.Name" placeholder="@_localizer["Add new Village"]" aria-label="Village"  aria-invalid="true">
                 </div>
                </div>            
               </div>
             <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-primary ">&nbsp;@_localizer["Add"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-soft-secondary mr-1" @onclick="ResetSearch">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
         </EditForm> 
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
             <table class="table table-responsive-md u-datatable  shadow-primary-lg p-3 mb-5 rounded">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                       <th scope="col">Назва</th>
                        <th scope="col">Дія</th>
                    </tr>
                  </thead>
                  @if(count>0)
                  {
                   @foreach(var item in getAllVillages)
                    {  
                       int index = @getAllVillages.IndexOf(item)+1;
                      <tbody>                                           
                        <tr>           
                             <th scope="row">@index</th> 
                             <td>@item.Name</td>  
                            <td>
                                   <button class="btn btn-sm btn btn-outline-info">
                                            <img @onclick="(() => ShowPopupVillage(item.Id))" src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/21/000000/external-edit-interface-kiranshastry-solid-kiranshastry.png" />
                                   </button>
                                    <button class=" btn btn-sm btn btn-outline-danger" @onclick="(() => DeleteVillage(item.Id))" disabled="@DeleteDisabled">Delete</button>
                              </td>  
                                                                                        
                       </tr>                                           
                      </tbody>      
                    }            
                  }
                            
          </table>          
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->    
</div>

@if (showCountry)
{
    <EditForm Model="@countryModel" OnValidSubmit="HandleValidSubmitCountry" class="body  p-3 mb-5 rounded ">
        <div class="modal" tabindex="-1" role="dialog" style="display:block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title" style="color:red">Редагувати!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="(() => ClosePopup())">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-bordered table-sm">
                            <tr class="form-group">
                                <td>Назва</td>
                                <td><input class="form-control" type="text" @bind-value="countryModel.Name" /></td>
                            </tr>                          
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" @onclick="(() => ClosePopup())" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}

@if (showRegion)
{
    <EditForm Model="@fillingWithData" OnValidSubmit="HandleValidSubmitRegion" class="body  p-3 mb-5 rounded ">
        <div class="modal" tabindex="-1" role="dialog" style="display:block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title" style="color:red">Редагувати!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="(() => ClosePopup())">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-bordered table-sm">
                            <tr class="form-group">
                                <td>Назва</td>
                                <td><input class="form-control" type="text" @bind-value="fillingWithData.Name" /></td>
                            </tr>                          
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" @onclick="(() => ClosePopup())" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}

@if (showDistrict)
{
    <EditForm Model="@districtModel" OnValidSubmit="HandleValidSubmitDistrict" class="body  p-3 mb-5 rounded ">
        <div class="modal" tabindex="-1" role="dialog" style="display:block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title" style="color:red">Редагувати!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="(() => ClosePopup())">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-bordered table-sm">
                            <tr class="form-group">
                                <td>Назва</td>
                                <td><input class="form-control" type="text" @bind-value="districtModel.Name" /></td>
                            </tr>                          
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" @onclick="(() => ClosePopup())" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}

@if (showOtg)
{
    <EditForm Model="@otgModel" OnValidSubmit="HandleValidSubmitOtg" class="body  p-3 mb-5 rounded ">
        <div class="modal" tabindex="-1" role="dialog" style="display:block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title" style="color:red">Редагувати!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="(() => ClosePopup())">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-bordered table-sm">
                            <tr class="form-group">
                                <td>Назва</td>
                                <td><input class="form-control" type="text" @bind-value="otgModel.Name" /></td>
                            </tr>                          
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" @onclick="(() => ClosePopup())" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}

@if (showVillage)
{
    <EditForm Model="@villageModel" OnValidSubmit="HandleValidSubmitVillage" class="body  p-3 mb-5 rounded ">
        <div class="modal" tabindex="-1" role="dialog" style="display:block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title" style="color:red">Редагувати!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="(() => ClosePopup())">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-bordered table-sm">
                            <tr class="form-group">
                                <td>Назва</td>
                                <td><input class="form-control" type="text" @bind-value="villageModel.Name" /></td>
                            </tr>                          
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" @onclick="(() => ClosePopup())" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}



@code {
    RegionDto  fillingWithData = new RegionDto();
    DistrictDto districtModel = new DistrictDto();
    OtgDto otgModel = new OtgDto();
    VillageDto villageModel = new VillageDto();
    CountryDto countryModel = new CountryDto();

    string DeleteDisabled { get; set; } = null;
    string userId ;
    int countryId;
    int regionId;
    int districtId;
    int otgId;
    protected bool Collapsed = true;
    int count = 0;
    int index = 0;
    bool showCountry = false;
    bool showRegion = false;
    bool showDistrict = false;
    bool showOtg = false;
    bool showVillage = false;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    List<RegionDto> getAllRegion = new List<RegionDto>();
    List<DistrictDto> getAllDistrict = new List<DistrictDto>();
    List<OtgDto> getAllOtg = new List<OtgDto>();
    List<VillageDto> getAllVillages = new List<VillageDto>();
    List<CountryDto> getAllCountry = new List<CountryDto>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        userId = authState.User.Claims.FirstOrDefault().Value;

        if (authState.User.Identity.IsAuthenticated)
        {
            getAllCountry = RegionAdapter.GetAllCountries();
           // getAllRegion = RegionAdapter.GetAllRegions();
          //  getAllDistrict = RegionAdapter.GetAllDistricts();
          //  getAllOtg = RegionAdapter.GetAllOtgs();
           // getAllVillages = RegionAdapter.GetAllVillages();

        }
    }

    private void Collaps()
    {       
        //  Collapsed = !Collapsed;
    }

    public void ClosePopup()
    {
        showCountry = false;
        showRegion = false;
        showDistrict = false;
        showOtg = false;
        showVillage = false;
    }

    public void ShowPopupCountry(int id)
    {
        showCountry = true;
        countryModel.Id = id;
        countryModel = RegionAdapter.GetCountryId(id);
    }

    public void ShowPopupRegion(int id)
    {
        showRegion = true;
        fillingWithData.Id = id;
        fillingWithData = RegionAdapter.GetRegionId(id);
    }

    public void ShowPopupDistrict(int id)
    {
        showDistrict = true;
        districtModel.Id = id;
        districtModel = RegionAdapter.GetDistrictId(id);
    }



    public void ShowPopupOtg(int id)
    {
        showOtg = true;
        otgModel.Id = id;
        otgModel = RegionAdapter.GetOtgId(id);
    }

    public void ShowPopupVillage(int id)
    {
        showVillage = true;
        villageModel.Id = id;
        villageModel = RegionAdapter.GetVillageId(id);
    }

    private void HandleValidSubmitCountry()
    {       
        countryId = RegionAdapter.SaveCountry(countryModel);
        getAllCountry = RegionAdapter.GetAllCountries();
        countryModel.Name = string.Empty;
        showCountry = false;
    }

    private void HandleValidSubmitRegion()
    {    
        fillingWithData.CountryId = countryId;
        regionId = RegionAdapter.SaveRegion(fillingWithData);       
        getAllRegion = RegionAdapter.GetAllRegions();
        fillingWithData.Name = string.Empty;
        showRegion = false;
    }

    private void HandleValidSubmitDistrict()
    {
        count++;
        districtModel.RegionId = regionId;
        districtId = RegionAdapter.SaveDistrict(districtModel);
        getAllDistrict = RegionAdapter.GetAllDistricts();
        districtModel.Name = string.Empty;
        showDistrict = false;
    }

    private void HandleValidSubmitOtg()
    {
        otgModel.DistrictId = otgId;
        RegionAdapter.SaveOtg(otgModel);
        getAllOtg = RegionAdapter.GetAllOtgs();
        otgModel.Name = string.Empty;
        showOtg = false;
    }

    private void HandleValidSubmitVillage()
    {
        villageModel.OtgId = otgId;
        RegionAdapter.SaveVillage(villageModel);
        getAllVillages = RegionAdapter.GetAllVillages();
        villageModel.Name = string.Empty;
        showVillage = false;
    }

    public void ResetSearch()
    {
        count = 0;
        NavigationManager.NavigateTo("/home");

    }

     private void OnValueChangedRegion(ChangeEventArgs  e)
    {
        count++;
        var getId = e.Value.ToString();
        int regionId = Int32.Parse(getId);
        getAllRegion = RegionAdapter.GetAllRegionsForCountry(regionId);
        this.StateHasChanged();
    }

    private void OnValueChangedDistrict(ChangeEventArgs  e)
    {
        count++;
        var getId = e.Value.ToString();
        int regionId = Int32.Parse(getId);
        getAllDistrict = RegionAdapter.GetAllDistrictsForRegion(regionId);
        this.StateHasChanged();
    }

    private void OnValueChangedOtg(ChangeEventArgs  e)
    {
        var getId = e.Value.ToString();
        int districtId = Int32.Parse(getId);
        getAllOtg = RegionAdapter.GetAllDistrictsForOtg(districtId);
    }

    private void OnValueChangedVillages(ChangeEventArgs  e)
    {
        count++;
        var getId = e.Value.ToString();
        int otgId = Int32.Parse(getId);
        getAllVillages = RegionAdapter.GetAllDistrictsForVillages(otgId);
    }

    private void DeleteVillage(int id)
    {
        RegionAdapter.DeleteVillage(id);
        getAllVillages = RegionAdapter.GetAllVillages();
    }

    private void DeleteOtg(int id)
    {
        RegionAdapter.DeleteOtg(id);
        getAllOtg = RegionAdapter.GetAllOtgs();
    }

    private void DeleteDistrict(int id)
    {
        RegionAdapter.DeleteDistrict(id);
        getAllDistrict = RegionAdapter.GetAllDistricts();
    }

    private void DeleteRegion(int id)
    {
        RegionAdapter.DeleteRegion(id);
        getAllRegion = RegionAdapter.GetAllRegions();
    }

    private void DeleteCountry(int id)
    {
        RegionAdapter.DeleteCountry(id);
        getAllCountry = RegionAdapter.GetAllCountries();
    }
}
