@page "/military-accounting-specialty"
@inject IStringLocalizer<App> _localizer
@inject NavigationManager _navigationManager

<nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-no-gutter mb-3 m-md-3">
            <li class="breadcrumb-item active" aria-current="page"><h2>@_localizer["MilitaryAccountingSpecialty"]</h2></li>
        </ol>
</nav>

<div id="paymentDetails" class="accordion">

      <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingZero">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardZero"
                aria-expanded="false"
                aria-controls="cardZero">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="font-size-1">Додати військово-облікову спеціальність</span>
                </span>
              </span>
            </span>        
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>    

      </h5>         

    </div>
    <div id="cardZero" class="collapse" aria-labelledby="cardHeadingZero" data-parent="#paymentDetails">
           <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
           <EditForm Model="@model" OnValidSubmit="HandleValidSubmit"  class="body  p-3 mb-5 rounded ">
             <DataAnnotationsValidator />
       
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                      <input type="text" class="form-control" @bind-value="model.MilitaryAccountingSpecialtyCode" placeholder="@_localizer["ВОС"]" >
                 </div>
                </div>            
               </div>
                     <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                      <input type="text" class="form-control" @bind-value="model.NameMilitaryAccountingSpecialty" placeholder="@_localizer["Назва ВОС"]" >
                 </div>
                </div>            
               </div>
             <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-primary ">&nbsp;@_localizer["Save"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-soft-secondary mr-1" @onclick="Cancel">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
         </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
              <table class="table table-responsive-md u-datatable  shadow-primary-lg p-3 mb-5 rounded">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">#</th>
                       <th scope="col" class="text-center">ВОС</th>
                        <th scope="col" class="text-center">Назва професії</th> 
                         <th scope="col" class="text-center">Action</th> 
                    </tr>
                  </thead>
                  
                  @foreach(var item in getAllMilitaryAccountingSpecialty)
                    {        
                      int index = @getAllMilitaryAccountingSpecialty.IndexOf(item)+1;
                      <tbody>                                           
                        <tr>          
                              <td class="text-center">@index</td> 
                              <td class="text-center">@item.MilitaryAccountingSpecialtyCode</td>
                              <td class="text-center">@item.NameMilitaryAccountingSpecialty</td>    
                              <td class="text-center">
                                   <button class="btn btn-xs btn-soft-info m-1" @onclick="(() => Edit(item.Id))">Edit</button>
                                  <button class="btn btn-xs btn-soft-danger  m-1" @onclick="(() => Delete(item.Id))">Delete</button>
                              </td>
                       </tr>                                           
                      </tbody>      
                    }    
          </table>
          </div>
        </div>
        <!-- End Card Details -->
      </div>     
    </div>
  </div>
  <!-- End Card -->

   <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingOne">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardOne"
                aria-expanded="false"
                aria-controls="cardOne">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img3.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="font-size-1">Додати код восу</span>
                </span>
              </span>
            </span>        
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>    

      </h5>         

    </div>
    <div id="cardOne" class="collapse" aria-labelledby="cardHeadingOne" data-parent="#paymentDetails">
           <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
           <EditForm Model="@modelCode" OnValidSubmit="HandleValidSubmitCode"  class="body  p-3 mb-5 rounded ">
             <DataAnnotationsValidator />
                 <InputSelect  id="department" @bind-Value="specialtyId" @oninput="OnValueChanged"  class="form-control input-group-pill mb-2">
                   <option value="0">-- Виберіть професію --</option>
                    @foreach (var item in getAllMilitaryAccountingSpecialty)
                    {                    
                        <option class="input-group-pill mb-2" placeholder="Виберіть професію" value="@item.Id">@item.NameMilitaryAccountingSpecialty</option>
                    }
                </InputSelect>

               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="number" class="form-control" @bind-value="modelCode.Code" placeholder="@_localizer["Код"]" >
                 </div>
                </div>            
               </div>
                 <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelCode.NameCode" placeholder="@_localizer["Назва коду"]" >
                 </div>
                </div>            
               </div>
          
             <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-primary ">&nbsp;@_localizer["Save"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-soft-secondary mr-1" @onclick="Cancel">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
         </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
              <table class="table table-responsive-md u-datatable  shadow-primary-lg p-3 mb-5 rounded">
                  <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="text-center">Код ВОС</th>
                        <th scope="col" class="text-center">Назва коду</th>                      
                        <th scope="col" class="text-center">Action</th>   
                    </tr>
                  </thead>
                   
                  @foreach(var item in getAllCodeMilitaryAccountingSpecialty)
                    {        
                      int index = @getAllCodeMilitaryAccountingSpecialty.IndexOf(item)+1;
                      <tbody>                                           
                        <tr>          
                               <td class="text-center">@index</td> 
                               <td class="text-center">@item.Code</td>
                               <td class="text-center">@item.NameCode</td>                              
                               <td>
                                   <button class="btn btn-xs btn-soft-info m-1" @onclick="(() => EditCode(item.Id))">Edit</button>
                                   <button class="btn btn-xs btn-soft-danger  m-1" @onclick="(() => DeleteCode(item.Id))">Delete</button>
                              </td>
                       </tr>                                           
                      </tbody>      
                    }    
          </table>
          </div>
        </div>
        <!-- End Card Details -->
      </div>     
    </div>
  </div>
  <!-- End Card -->


    <!-- Card -->
  <div class="card">
    <div class="card-header card-collapse" id="cardHeadingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                data-toggle="collapse"
                data-target="#cardTwo"
                aria-expanded="false"
                aria-controls="cardTwo">
          <span class="row align-items-center">
            <span class="col-md-6 mb-2 mb-md-0">
              <span class="media align-items-center">
                <img class="max-width-9 mr-3" src="./assets/img/160x160/img6.jpg" alt="Image Description">
                <span class="media-body">
                  <span class="d-block font-size-1">Група обліку</span>
                </span>
              </span>
            </span>
            <span class="col-4 col-md-2 text-md-right">
            </span>
            <span class="col-6 col-md-3">
              <span class="font-size-1"></span>
            </span>
            <span class="col-2 col-md-1 text-right">
              <span class="card-btn-arrow">
                <span class="fas fa-arrow-down small"></span>
              </span>
            </span>
          </span>
        </button>
      </h5>
    </div>
    <div id="cardTwo" class="collapse" aria-labelledby="cardHeadingTwo" data-parent="#paymentDetails">
          <div class="card-body px-4">
        <!-- Card Details -->
        <div class="row">
          <div class="col-sm-4 mb-2 mb-sm-0">           
          <EditForm Model="@modelLetter" OnValidSubmit="HandleValidSubmitLetter" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />       
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                   <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelLetter.Letter" placeholder="@_localizer["Letter"]" aria-label="Last Name" aria-describedby="subscribeButton subscribeSrEmail-error" required="" data-msg="Please enter a valid last name." aria-invalid="true">
                 </div>
                </div>            
               </div>
               <div class="row d-flex">
                   <div class="col-lg-12 form-group">
                    <div class="input-group input-group-pill">
                       <input type="text" class="form-control" @bind-value="modelLetter.DescriptionLetter" placeholder="@_localizer["Description Letter"]" aria-label="First Name" aria-describedby="subscribeButton subscribeSrEmail-error" required="" data-msg="Please enter a valid first name." aria-invalid="true">
                 </div>
                </div>             
              </div>
                                          
            <div class="row">
                <div class="ml-lg-3 m-3">
                    <button type="submit" class="btn btn-xs btn-soft-secondary mr-1">&nbsp;@_localizer["Save"]&nbsp;</button>
                    <NavLink class="btn btn-xs btn-primary" @onclick="Cancel">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
                </div>
            </div>
        </EditForm>
          </div>
          <div class="col-sm-8 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
             <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">#</th>
                       <th scope="col" class="text-center">Letter</th>
                        <th scope="col" class="text-center">Description Letter</th>
                        <th scope="col" class="text-center">Action</th>            
                    </tr>
                  </thead>
                  @foreach(var item in getAllLetter)
                    {        
                      int index = @getAllLetter.IndexOf(item)+1;
                      <tbody>                                           
                        <tr>          
                               <td class="text-center">@index</td> 
                               <td class="text-center">@item.Letter</td>
                               <td class="text-center">@item.DescriptionLetter</td>                             
                               <td>
                                   <button class="btn btn-xs btn-soft-info m-1" @onclick="(() => EditCode(item.Id))">Edit</button>
                                   <button class="btn btn-xs btn-soft-danger  m-1" @onclick="(() => DeleteCode(item.Id))">Delete</button>
                              </td>
                       </tr>                                           
                      </tbody>      
                    }    
          </table>          
          </div>
        </div>
        <!-- End Card Details -->
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>


@code {

    string messageError = string.Empty;
    int specialtyId;
    MilitaryAccountingSpecialtyDto model = new MilitaryAccountingSpecialtyDto();
    MilitaryAccountingSpecialtyCodeDto modelCode = new MilitaryAccountingSpecialtyCodeDto();
    MilitaryAccountingSpecialtyLetterDto modelLetter = new MilitaryAccountingSpecialtyLetterDto();
    List<MilitaryAccountingSpecialtyDto> getAllMilitaryAccountingSpecialty = new List<MilitaryAccountingSpecialtyDto>();
    List<MilitaryAccountingSpecialtyCodeDto> getAllCodeMilitaryAccountingSpecialty = new List<MilitaryAccountingSpecialtyCodeDto>();
    List<MilitaryAccountingSpecialtyLetterDto> getAllLetter = new List<MilitaryAccountingSpecialtyLetterDto>();

    protected override void OnInitialized()
    {
        getAllMilitaryAccountingSpecialty =  MilitaryAccountingSpecialtyAdapter.GetAllMilitaryAccountingSpecialty();
        getAllLetter = MilitaryAccountingSpecialtyAdapter.GetAllMilitaryAccountingSpecialtyLetter();

    }

    private void HandleValidSubmit()
    {
        var test = $"[{model.MilitaryAccountingSpecialtyCode}] {model.NameMilitaryAccountingSpecialty}";
        model.NameMilitaryAccountingSpecialty = test;
        var specialtyId = MilitaryAccountingSpecialtyAdapter.SaveMilitaryAccountingSpecialty(model);

        getAllMilitaryAccountingSpecialty =  MilitaryAccountingSpecialtyAdapter.GetAllMilitaryAccountingSpecialty();
        model = new MilitaryAccountingSpecialtyDto();
    }

    private void HandleValidSubmitCode()
    {
        modelCode.SoldierAndSergeantMilitaryAccountingSpecialtiesId = specialtyId;       
        MilitaryAccountingSpecialtyAdapter.SaveMilitaryAccountingSpecialtyCode(modelCode);
        getAllCodeMilitaryAccountingSpecialty = MilitaryAccountingSpecialtyAdapter.GetAllCodeMilitaryAccountingSpecialtyId(specialtyId);
        modelCode = new MilitaryAccountingSpecialtyCodeDto();
    }

    private void HandleValidSubmitLetter()
    {
        MilitaryAccountingSpecialtyAdapter.SaveMilitaryAccountingSpecialtyLetter(modelLetter);
        getAllLetter = MilitaryAccountingSpecialtyAdapter.GetAllMilitaryAccountingSpecialtyLetter();

        modelLetter = new MilitaryAccountingSpecialtyLetterDto();
    }

    private void OfficerHandleValidSubmit()
    {
        
    }

    private void Edit(int id)
    {

    }

    private void EditCode(int id)
    {

    }

    private void Delete(int id)
    {

    }

    private void DeleteCode(int id)
    {

    }

    private void Cancel()
    {
        
    }
      
    private void OnValueChanged(ChangeEventArgs  e)
    {        
        var getId = e.Value.ToString();
        int tempId = Int32.Parse(getId);
        getAllCodeMilitaryAccountingSpecialty = MilitaryAccountingSpecialtyAdapter.GetAllCodeMilitaryAccountingSpecialtyId(tempId);
        this.StateHasChanged();
    }
}
