@page "/personal-data"
@layout OfficerLayout
@inject IStringLocalizer<App> _localizer

<nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-no-gutter mb-3 m-md-3">
            <li class="breadcrumb-item active" aria-current="page"><h2>@_localizer["Add personal data"]</h2></li>
        </ol>
</nav>

<div class="shadow-primary-lg p-3 mb-5 rounded">
    <div class="row">
          <div class="col-md-6 mb-3 mb-md-0">
          <EditForm Model="@personalDataModel" OnValidSubmit="HandleValidSubmitPersonalData" class="body  p-3 mb-5 rounded ">
        <DataAnnotationsValidator />       
           
        <div class="input-group-pill mb-2">
          <input type="text" class="form-control" @bind-value="personalDataModel.LastName" placeholder="Прізвище" aria-label="Прізвище">
        </div>

        <div class="input-group-pill mb-2">
          <input type="text" class="form-control"  @bind-value="personalDataModel.FirstName" placeholder="Ім'я'" aria-label="Ім'я">
        </div>

         <div class="input-group-pill mb-2">
          <input type="text" class="form-control" @bind-value="personalDataModel.FatherName" placeholder="По батькові" aria-label="По батькові" >
        </div>

        <div class="input-group-pill mb-2">
          <input type="text" class="form-control" @bind-value="personalDataModel.PreviousLastName" placeholder="Попереднє прізвище" aria-label="Попереднє прізвище" >
        </div>

         <div class="input-group-pill mb-2">
          <input type="text" class="form-control" @bind-value="personalDataModel.FullNamePatronymicInTheGenitiveCase" placeholder="ПІБ у родовому відмінку" aria-label="ПІБ у родовому відмінку">
        </div>

         <select class="form-control input-group-pill mb-2" >
                <option class="input-group-pill mb-2" placeholder="Стать">Стать</option>
                <option class="input-group-pill mb-2">Чоловіча</option>
                <option class="input-group-pill mb-2">Жіноча</option>
         </select>
                
         <div class="input-group-pill mb-2">
          <input type="text" class="form-control" @bind-value="personalDataModel.DateOfBirth" placeholder="Дата народження" aria-label="Дата народження" >
        </div>

        <div class="input-group-pill mb-2">
          <input type="text" class="form-control" @bind-value="personalDataModel.RefusalOfIndividualPersonalNumber" placeholder="Відмовився від використання ІПН" >
        </div>

         <div class="input-group-pill mb-2">
          <input type="text" class="form-control" @bind-value="personalDataModel.PlaceOfResidence" placeholder="ІПН">
        </div>

         <div class="input-group-pill mb-2">
          <input type="text" class="form-control" @bind-value="personalDataModel.Note" placeholder="УНЗР">
        </div>
        <hr />
        <h3>Місце народження</h3>
           <InputSelect  id="department" @bind-Value="countryId" @oninput="OnValueChangedCountry"   class="form-control input-group-pill mb-2">
           <option value="0">-- Виберіть країну --</option>
             @foreach (var item in getAllCountry)
              {                    
                  <option class="input-group-pill mb-2" placeholder="Виберіть країну" value="@item.Id">@item.Name</option>
              }
          </InputSelect>
             <InputSelect id="department" @bind-Value="regionId" @oninput="OnValueChangedRegion"  class="form-control input-group-pill mb-2">
                   <option value="0">-- Виберіть Область --</option>
                @foreach (var item in getAllRegion)
                {
                    <option class="input-group-pill mb-2" value="@item.Id">@item.Name</option>
                }
            </InputSelect>
           <InputSelect id="department" @bind-Value="districtId" @oninput="OnValueChangedDistrict"  class="form-control input-group-pill mb-2">
                   <option value="0">-- Виберіть район --</option>
                @foreach (var item in getAllDistrict)
                {
                    <option class="input-group-pill mb-2" value="@item.Id">@item.Name</option>
                }
            </InputSelect>

               <InputSelect id="department" @bind-Value="otgId"  @oninput="OnValueChangedOtg"  class="form-control input-group-pill mb-2">
                   <option value="0">-- Виберіть територіальну громаду --</option>
                @foreach (var item in getAllOtg)
                {
                    <option class="input-group-pill mb-2" value="@item.Id">@item.Name</option>
                }
            </InputSelect>

              <InputSelect id="department" @bind-Value="villageId"  class="form-control input-group-pill mb-2">
                   <option value="0">-- Виберіть село --</option>
                @foreach (var item in getAllVillages)
                {
                    <option class="input-group-pill mb-2" value="@item.Id">@item.Name</option>
                }
            </InputSelect>

          <div class="input-group-pill mb-2">
             <input type="text" class="form-control" placeholder="Інше">
          </div>
           <hr />
          <label for="additional">@_localizer["Choose an option"]:</label>
                <InputSelect @bind-Value="personalDataModel.BloodType" class="form-control input-group-pill mb-2">
                   @foreach (var item in GetTypeBlood)
                   {
                      <option value="@item">@item</option>
                   }
                </InputSelect>
          <label for="additional">@_localizer["Choose an option"]:</label>
                <InputSelect @bind-Value="personalDataModel.RezusTypeBlood"  class="form-control input-group-pill mb-2" >
                   @foreach (var item in GetAllTypeBlood)
                   {
                      <option value="@item">@item</option>
                   }
                </InputSelect>
         
          <div class="input-group-pill mb-2">
           <input type="text" class="form-control" placeholder="Мобільний телефон">
        </div>
         <div class="input-group-pill mb-2">
           <input type="text" class="form-control" placeholder="Мобільний телефон">
        </div>
        
           <label for="additional">@_localizer["Choose an option"]:</label>
                <InputSelect @bind-Value="personalDataModel.Filter" class="form-control input-group-pill mb-2">
                   @foreach (var item in Enum.GetValues(typeof(Filter)))
                   {
                      <option value="@item">@item</option>
                   }
                </InputSelect>
           <div class="input-group-pill mb-2">
           <input type="text" class="form-control" placeholder="Службові відмітки">
        </div>
        <div >
            <br />
             <div class="col-md-6 mb-3 mb-md-0">
                  <button type="submit" class="btn btn-soft-primary mr-1">&nbsp;@_localizer["Save"]&nbsp;</button>
                   <NavLink class="btn btn-secondary" href="officer-home">&nbsp;@_localizer["Cancel"]&nbsp;</NavLink>
             </div>
        </div> 
    
     </EditForm>  
    </div>   
</div>
</div>


@code {
    PersonalDataDto personalDataModel = new PersonalDataDto();
    // RegionDto regionModel = new RegionDto();


    List<CountryDto> getAllCountry = new List<CountryDto>();
    List<RegionDto> getAllRegion = new List<RegionDto>();
    List<DistrictDto> getAllDistrict = new List<DistrictDto>();
    List<OtgDto> getAllOtg = new List<OtgDto>();
    List<VillageDto> getAllVillages = new List<VillageDto>();

    int countryId;
    int regionId;
    int districtId;
    int otgId;
    int villageId;
    string[] GetTypeBlood = { "I(0)","II(A)","III(B)","AB(IV)" };
    string[] GetAllTypeBlood = { "RH(-)", "RH(+)" };

    protected override void OnInitialized()
    {
        getAllCountry= RegionAdapter.GetAllCountries();

    }

    private void HandleValidSubmitPersonalData()
    {
        
    }

    private void OnValueChangedCountry(ChangeEventArgs  e)
    {
        var getId = e.Value.ToString();
        int tempId = Int32.Parse(getId);      
        getAllRegion = RegionAdapter.GetAllRegionsForCountry(tempId);

        this.StateHasChanged();
    }

    private void OnValueChangedRegion(ChangeEventArgs  e)
    {
        var getId = e.Value.ToString();
        int tempId = Int32.Parse(getId);     
        getAllDistrict = RegionAdapter.GetAllDistrictsForRegion(tempId);  

        this.StateHasChanged();
    }

    private void OnValueChangedDistrict(ChangeEventArgs  e)
    {        
        var getId = e.Value.ToString();
        int tempId = Int32.Parse(getId);   
        getAllOtg = RegionAdapter.GetAllDistrictsForOtg(tempId);

        this.StateHasChanged();
    }

    private void OnValueChangedOtg(ChangeEventArgs e)
    {
        var getId = e.Value.ToString();
        int tempId = Int32.Parse(getId);       
        getAllVillages = RegionAdapter.GetAllDistrictsForVillages(tempId);

        this.StateHasChanged();
    }



    public enum Filter
    {
        Married,
        NotMarried           
    }

    public enum BloodType
    {
        I=1,
        II=2,
        III=3,
        IV=4
    }

    public enum RezusTypeBlood
    {
        mines=1,
        pluse=2
    }
}
