@page "/show-data-personal/{Id:int}"
@inject NavigationManager _navigationManager

<div class="col-sm-12 mb-2 mb-sm-0 body  p-3 mb-5 rounded">
    <h2 class="text-center">@personalDataModel.LastName  @personalDataModel.FirstName @personalDataModel.FatherName</h2>
             <table class="table table-responsive-md u-datatable  shadow-primary-lg p-3 mb-5 rounded">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                       <th scope="col">Прізвище</th>
                        <th scope="col">Ім'я</th>
                         <th scope="col">По батькові</th>
                         <th scope="col">Дата народження</th>
                          <th scope="col">Сімейний стан</th>
                           <th scope="col">Прізвище в родовому відмінку</th>
                            <th scope="col">ІПН</th>
                             <th scope="col">Стать</th>
                            @* ToDo: Add logic fgor select when born on person*@
                             <th scope="col">Село</th>
                             <th scope="col">Дія</th>
                    </tr>
                  </thead>
                
                      <tbody>                                           
                        <tr>           
                             <th scope="row">1</th> 
                             <td>@personalDataModel.LastName</td>
                             <td>@personalDataModel.FirstName</td>  
                             <td>@personalDataModel.FatherName</td>
                             <td>@personalDataModel.DateOfBirth.ToString("d")</td>
                             <td>@isMerriad</td>
                             <td>@personalDataModel.FullNamePatronymicInTheGenitiveCase</td>
                             <td>@personalDataModel.IndividualPersonalNumber</td>
                             <td>@personalDataModel.Sex</td>
                              <td>@personalDataModel.VillageName</td>
                            <td >
                                 <img @onclick="(() => ShowPopupPersonalDataFixed(personalDataModel.Id))"  src="./images/edit.png" /> 

                                   @* <button class=" btn btn-sm btn btn-outline-danger" @onclick="(() => DeleteVillage(item.Id))" disabled="@DeleteDisabled">Delete</button>*@
                             </td>  
                                                                                        
                       </tr>                                           
                      </tbody>   
                            
          </table>   
          <div>
               <button type="submit" class="btn btn-primary" @onclick="(() => MoveTo(personalDataModel.Id))">Взяти на облік</button>
          </div>
          
@if(popupFixData)
{
     <EditForm Model="@personalDataModel" OnValidSubmit="HandleValidSubmitPersonalDataFixed" class="body  p-3 mb-5 rounded ">
        <div class="modal-dialog" tabindex="-1" role="dialog" style="display:block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color:red">Edit Data personal!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="(() => ClosePopup())">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-bordered table-sm">  
                              <tr class="form-group">
                                <td>Last Name</td>
                                <td><input class="form-control" type="text" @bind-value="personalDataModel.LastName" /></td>
                            </tr>
                            <tr class="form-group">
                                <td>First Name</td>
                                <td><input class="form-control" type="text" @bind-value="personalDataModel.FirstName" /></td>
                            </tr>
                             <tr class="form-group">
                                <td>Father Name</td>
                                <td><input class="form-control" type="text" @bind-value="personalDataModel.FatherName" /></td>
                            </tr>
                              <tr class="form-group">
                                <td>Date of Birthday</td>
                                <td><input class="form-control" type="date" @bind-value="personalDataModel.DateOfBirth" /></td>
                            </tr>
                              <tr class="form-group">
                                <td>Family Status</td>
                                <td><input class="form-control" type="text" @bind-value="isMerriad" /></td>
                            </tr>
                              <tr class="form-group">
                                <td>Full Name Patronymic In The Genitive Case</td>
                                <td><input class="form-control" type="text" @bind-value="personalDataModel.FullNamePatronymicInTheGenitiveCase" /></td>
                            </tr>
                               <tr class="form-group">
                                <td>Individual Persona lNumber</td>
                                <td><input class="form-control" type="number" @bind-value="personalDataModel.IndividualPersonalNumber" /></td>
                            </tr>
                              <tr class="form-group">
                                <td>Sex</td>
                                <td><input class="form-control" type="text" @bind-value="personalDataModel.Sex" /></td>
                            </tr>
                              <tr class="form-group">
                                <td>Village Name</td>
                                <td><input class="form-control" type="text" @bind-value="personalDataModel.VillageName" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer" @onclick="(() => CleaningMessage())">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" @onclick="(() => ClosePopup())" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>        
    </EditForm>
    
}
          </div>



@code {
    [Parameter]
    public int Id { get; set; }

    bool popupFixData = false;
    string message;
    string isMerriad;

    PersonalDataDto personalDataModel = new PersonalDataDto();

    protected override  void OnInitialized()
    {
        personalDataModel = PersonalDataAdapter.GetPersonalDataId(Id);  
        if(personalDataModel.FamilyStatus == true)
        {
            isMerriad = "заміжня";
        }
        else
        {
            isMerriad = "не заміжня";
        }
    }

    public void ClosePopup()
    {
        popupFixData = false;
    }

    public void ShowPopupPersonalDataFixed(int id)
    {
        popupFixData = true;
    }

    private void CleaningMessage()
    {
        message = "";
    }

    private void MoveTo(int id)
    {
        _navigationManager.NavigateTo("/take-into-account/" + id);
    }

    private void HandleValidSubmitPersonalDataFixed()
    {
       // PersonalDataAdapter.SavePersonalData(personalDataModel,personalDataModel.VillageId);
    }
}
